.light
.squiggle-container
  span.squiggles.s-top
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
  span.squiggles.s-right
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
  span.squiggles.s-bottom
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
  span.squiggles.s-left
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
  span.squiggles.s-top-right
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
  span.squiggles.s-top-left
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
  span.squiggles.s-bottom-right
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
  span.squiggles.s-bottom-left
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
    div
