<footer class="footer">
    <div class="container centered">
        <ul>
            <li>
                <a class="email" href="mailto:jordanmcardle@gmail.com" target="-blank">
                    <span class="fa-stack fa-lg faa-parent animated-hover">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="move-me fa fa-envelope fa-stack-1x faa-ring"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="github" href="https://github.com/jmahc" target="-blank">
                    <span class="fa-stack fa-lg faa-parent animated-hover">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="move-me fa fa-github fa-stack-1x faa-burst"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="linkedin" href="https://www.linkedin.com/in/jtmcardle" target="-blank">
                    <span class="fa-stack fa-lg faa-parent animated-hover">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="move-me fa fa-linkedin fa-stack-1x faa-flash"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="facebook" href="https://www.facebook.com/jmaccc" target="-blank">
                    <span class="fa-stack fa-lg faa-parent animated-hover">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="move-me fa fa-facebook fa-stack-1x faa-tada"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="twitter" href="http://twitter.com/fjord-an" target="-blank">
                    <span class="fa-stack fa-lg faa-parent animated-hover">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="move-me fa fa-twitter fa-stack-1x faa-passing"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="google" href="https://plus.google.com/u/0/104716789379686556900/about/p/pub" target="-blank">
                    <span class="fa-stack fa-lg faa-parent animated-hover">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="move-me fa fa-google-plus fa-stack-1x faa-float"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="steam" href="http://steamcommunity.com/id/jmahc/" target="-blank">
                    <span class="fa-stack fa-lg faa-parent animated-hover">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="move-me fa fa-steam fa-stack-1x faa-wrench"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>

<script src="scripts/jquery-1.11.3.min.js"></script>
<script src="scripts/jquery-ui.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/script.js"></script>
<script>
    Jmac.home.init();
</script>
