section#about.ts.bs
  .container.intro
    .intro-title.centered
      h2.bs
        | Full stack web developer with
        | a passion for frontend and UX.
    .intro-blurb
      .row
        .col-md-6
          p.lead
            | My interest in web development originated at a young age while playing the online video game, 
            strong Neopets
            | , where customizing my pet and store's HTML page took priority over the actual game.
          p.lead
            | Since then, I have guided this interest into both a career and hobby.
            | I graduated from the University of Alabama in December 2014 with a degree in Management Information Systems. The following month in January 2015, I began working at a marketing firm, 2-COM,
            | where I serve as lead software developer on client sites.
          p.lead
            a.resume-link(href="assets/files/McArdle_Jordan_Resume.pdf", target="_blank") View my resume.
        .col-md-6.profile-pic-container
          img.profile-pic(src='img/current.png')
