ul.portfolio
  li.portfolio-item.circle.bw.fi-one
    .item-image
      img.logo(src='img/clients/bulwark.png')
    .item-information
      .item-background
      .item-description
        .item-details
          h4(data-link='http://bulwark.com/calculator') Bulwark FR
          p
            | I recently implemented a redesign of the site and regularly manage site updates as requested by the client.
            | I also created a Calculator application that allows users to determine which piece of clothing they needed to achieve a certain Fire-Resistant level for their jobs.
        .item-icons
          .icon-modal(data-toggle='modal', data-target='#myModal')
            span.fa-stack.fa-lg.faa-parent.animated-hover
              i.fa.fa-square.fa-stack-2x
              i.fa.fa-search.fa-stack-1x
  li.portfolio-item.circle.hs.fi-two
    .item-image
      img.logo(src='img/clients/hs.png')
    .item-information
      .item-background
      .item-description
        .item-details
          h4(data-link='http://horacesmall.com') Horace Small
          p
            | I am responsible for maintaining site updates that include event updates, product feature updates, and image changes.
        .item-icons
          .icon-modal(data-toggle='modal', data-target='#myModal')
            span.fa-stack.fa-lg.faa-parent.animated-hover
              i.fa.fa-square.fa-stack-2x
              i.fa.fa-search.fa-stack-1x
  li.portfolio-item.circle.rka.fi-three
    .item-image
      img.logo(src='img/clients/rka.png')
    .item-information
      .item-background
      .item-description
        .item-details
          h4(data-link='http://redkapautomotive.com') Red Kap Automotive
          p
            | This site continously features promotional pages that I create, as well as various product feature changes, image updates, and other client needs.
        .item-icons
          .icon-modal(data-toggle='modal', data-target='#myModal')
            span.fa-stack.fa-lg.faa-parent.animated-hover
              i.fa.fa-square.fa-stack-2x
              i.fa.fa-search.fa-stack-1x
  li.portfolio-item.circle.vf.fi-four
    .item-image
      img.logo(src='img/clients/vf.png')
    .item-information
      .item-background
      .item-description
        .item-details
          h4(data-link='http://wpg.vfimagewear.com') VF Imagewear
          p
            | I assisted in developing a digital Wholesale Product Guide that VF Imagewear, Inc. utilizes across all brands.
            | After a successful implementation, VF Imagewear, Inc. decided to discontinue their print version and reference this site as the source.
            | I am in the process of gathering requirements for version 2.0.
        .item-icons
          .icon-modal(data-toggle='modal', data-target='#myModal')
            span.fa-stack.fa-lg.faa-parent.animated-hover
              i.fa.fa-square.fa-stack-2x
              i.fa.fa-search.fa-stack-1x
  li.portfolio-item.yt.fi-five
    .item-image
      img.logo(src='img/clients/yt.png')
    .item-information
      .item-background
      .item-description
        .item-details
          h4(data-link='http://yanmartractor.com') Yanmar Tractors
          p
            | I regularly maintain pricing and promotional changes throughout the year in accordance with Yanmar Tractor's current deals.
            | I am also responsible for any site maintenance or new img.
        .item-icons
          .icon-modal(data-toggle='modal', data-target='#myModal')
            span.fa-stack.fa-lg.faa-parent.animated-hover
              i.fa.fa-square.fa-stack-2x
              i.fa.fa-search.fa-stack-1x
  li.portfolio-item.col.fi-six
    .item-image
      img.logo.dark-image(src='img/clients/col.png')
    .item-information
      .item-background
      .item-description
        .item-details
          h4(data-link='http://columbiaequip.com') Columbia
          p
            | I assisted in developing this multi-lingual site for Columbia by implementing several pieces of functionality including the distributor locator, responsive mobile menu, and dealer locator administrative tool.
            | Any issue with the locator, managing new/existing distributors, styling, or financing information updates fall under my responsibilities.
        .item-icons
          .icon-modal.test(data-toggle='modal', data-target='#myModal')
            span.fa-stack.fa-lg.faa-parent.animated-hover
              i.fa.fa-square.fa-stack-2x
              i.fa.fa-search.fa-stack-1x
  li.portfolio-item.com.fi-seven
    .item-image
      img.logo(src='img/clients/2com.png')
    .item-information
      .item-background
      .item-description
        .item-details
          h4(data-link='http://2-com.net') 2-COM
          p
            | I worked alongside an internal team to develop a proprietary e-commerce platform for 2-COM's clients.
            | My major contributions include creating a front-end template, multi-lingual capabilities, and order reporting.
            | Technologies involved were NodeJS, AngularJS and MongoDB, alongside NetSuite's and 2-COM's database system.
        .item-icons
          .icon-modal(data-toggle='modal', data-target='#myModal')
            span.fa-stack.fa-lg.faa-parent.animated-hover
              i.fa.fa-square.fa-stack-2x
              i.fa.fa-search.fa-stack-1x
  li.portfolio-item.cub.fi-eight
    .item-image
      img.logo.dark-image(src='img/clients/cub.png')
    .item-information
      .item-background
      .item-description
        .item-details
          h4(data-link='http://cubcadetondemandmarketing.com') Cub Cadet
          p
            | This is the first instance of 2-COM's proprietary e-commerce platform.
            | For this instance, I assisted in managing the outsourced team to ensure the quality of deliverables and effective code.
        .item-icons
          .icon-modal(data-toggle='modal', data-target='#myModal')
            span.fa-stack.fa-lg.faa-parent.animated-hover
              i.fa.fa-square.fa-stack-2x
              i.fa.fa-search.fa-stack-1x
