@keyframes popup {
  0% {
    transform: translateY(150px);
  }
  34% {
    transform: translateY(20px);
  }
  37% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(150px);
  }
}
#weather {
  height: 100%;
  width: 100%;
}
#weather .weather-animation {
  position: relative;
  width: 100%;
  height: 100%;
}
#weather .weather-animation .animation {
  display: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
}
#weather .weather-animation .animation .sky {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
  animation: slide-in-top 3.5s linear;
  -webkit-animation-iteration-count: 1;
  /* Chrome, Safari, Opera */
  animation-iteration-count: 1;
}
#weather .weather-animation .animation .sky.day {
  background-color: #0099FF;
}
#weather .weather-animation .animation .sky.overcast {
  background-color: #E6E6E6;
  backgroud-image: linear-gradient();
}
#weather .weather-animation .animation .sky.night {
  background-color: #1A1A66;
}
#weather .weather-animation .animation .clouds {
  position: absolute;
  top: 10px;
  z-index: 20;
  left: 160px;
}
#weather .weather-animation .animation .clouds div.cloud {
  animation: cloudFloat 15s infinite linear;
  transition: transform 0.2s ease-in-out;
  z-index: 21;
  width: 175px;
  height: 50px;
  display: inline-block;
  background: #f2f9fe;
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f2f9fe), color-stop(100%, #d6f0fd));
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9fe', endColorstr='#d6f0fd', GradientType=0);
  position: relative;
  margin: 60px auto 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
#weather .weather-animation .animation .clouds div.cloud:after,
#weather .weather-animation .animation .clouds div.cloud:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #f2f9fe;
  background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f2f9fe), color-stop(100%, #d6f0fd));
  background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
  background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
}
#weather .weather-animation .animation .clouds div.cloud:after {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: -25px;
  left: 25px;
}
#weather .weather-animation .animation .clouds div.cloud:before {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  top: -45px;
  right: 25px;
}
#weather .weather-animation .animation .clouds .cloud:nth-of-type(5) ~ .cloud {
  top: -98px;
}
#weather .weather-animation .animation .clouds .cloud:nth-of-type(2n) {
  left: -30px;
  animation: cloudFloat 15s infinite linear;
  transition: transform 0.2s ease-in-out;
  -webkit-animation-delay: -2s;
  /* Chrome, Safari, Opera */
  animation-delay: -2s;
}
#weather .weather-animation .animation .clouds .cloud:nth-of-type(3n) {
  animation: cloudFloat 15s infinite linear;
  transition: transform 0.2s ease-in-out;
  left: 100px;
  -webkit-animation-delay: -4s;
  /* Chrome, Safari, Opera */
  animation-delay: -4s;
}
#weather .weather-animation .animation .clouds .cloud:nth-of-type(4n) {
  animation: cloudFloat 15s infinite linear;
  transition: transform 0.2s ease-in-out;
  -webkit-animation-delay: -0.9s;
  /* Chrome, Safari, Opera */
  animation-delay: -0.9s;
  left: 100%;
}
#weather .weather-animation .animation .clouds .cloud:nth-of-type(5n) {
  left: -50%;
  animation: cloudFloat 15s infinite linear;
  transition: transform 0.2s ease-in-out;
  -webkit-animation-delay: -2s;
  /* Chrome, Safari, Opera */
  animation-delay: -2s;
}
#weather .weather-animation .animation .clouds .cloud:nth-of-type(11) {
  top: -186px !important;
}
#weather .weather-animation .animation .light {
  position: absolute;
  top: 40px;
  left: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: fade-in 4s linear;
}
#weather .weather-animation .animation .light.sun {
  background-color: #FFFF00;
}
#weather .weather-animation .animation .light.moon {
  background-color: #B2B2B2;
}
#weather .weather-animation .animation .grass {
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: #009933;
  animation: slide-in-bottom 7s linear;
  -webkit-animation-iteration-count: 1;
  /* Chrome, Safari, Opera */
  animation-iteration-count: 1;
}
#weather .weather-animation .animation .ground {
  z-index: 12;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #996633;
  animation: slide-in-bottom 7s linear;
  -webkit-animation-iteration-count: 1;
  /* Chrome, Safari, Opera */
  animation-iteration-count: 1;
}
.squiggle-container {
  position: absolute;
  height: 140px;
  width: 140px;
  top: 20px;
  left: 20px;
  z-index: 15;
  display: none;
  /* transform: rotate(45deg); */
}
.squiggle-container .squiggles {
  position: absolute;
  display: block;
  width: 8px;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}
.squiggle-container .squiggles div {
  margin-top: -17%;
  height: 34%;
  width: 2%;
  top: 30%;
  border-radius: 20px;
  position: absolute;
}
.squiggle-container .squiggles div:nth-of-type(1) {
  animation: wave 14s   0.000s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(2) {
  animation: wave 14s -13.227s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(3) {
  animation: wave 14s -12.455s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(4) {
  animation: wave 14s -11.682s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(5) {
  animation: wave 14s -10.909s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(6) {
  animation: wave 14s -10.136s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(7) {
  animation: wave 14s -9.364s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(8) {
  animation: wave 14s -9.591s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(9) {
  animation: wave 14s -8.818s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(10) {
  animation: wave 14s -8.045s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(11) {
  animation: wave 14s -7.273s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(12) {
  animation: wave 14s -7.5s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(13) {
  animation: wave 14s -6.727s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(14) {
  animation: wave 14s -5.955s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(15) {
  animation: wave 14s -5.182s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(16) {
  animation: wave 14s -4.409s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(17) {
  animation: wave 14s -3.636s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(18) {
  animation: wave 14s -2.864s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(19) {
  animation: wave 14s -2.091s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(20) {
  animation: wave 14s -1.318s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(21) {
  animation: wave 14s -0.545s linear infinite;
}
.squiggle-container .squiggles div:nth-of-type(22) {
  animation: wave 14s -0.273s linear infinite;
}
.squiggle-container .squiggles.s-top {
  top: -62px;
  left: 86px;
  transform: rotate(270deg);
}
.squiggle-container .squiggles.s-top-right {
  top: -30px;
  left: 130px;
  transform: rotate(-45deg);
}
.squiggle-container .squiggles.s-right {
  left: 140px;
  top: 16px;
}
.squiggle-container .squiggles.s-bottom-right {
  left: 100px;
  top: 57px;
  transform: rotate(45deg);
}
.squiggle-container .squiggles.s-bottom {
  top: 60px;
  left: 47px;
  transform: rotate(90deg);
}
.squiggle-container .squiggles.s-bottom-left {
  left: 33px;
  top: 59px;
  transform: rotate(-45deg);
}
.squiggle-container .squiggles.s-left {
  top: 19px;
  left: 5px;
}
.squiggle-container .squiggles.s-top-left {
  left: 8px;
  top: -30px;
  transform: rotate(45deg);
}
