extends ../layout/layout
block nav
  include ../layout/nav
block content
  include ../partials/home/video
  include ../partials/home/welcome
  include ../partials/home/about
  include ../partials/home/divider
  include ../partials/home/projects
block page_scripts
  script(src='libs/scrollmagic/ScrollMagic.min.js')
  script(src='libs/scrollmagic/plugins/debug.addIndicators.min.js')
  script.
    Jmac.home.init();
