<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
    footer {
      /*
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;*/
      display: none;
    }
  </style>
</head>

<body class="home-page" data-spy="scroll" data-target="#navbar">
  <div class="spinner-overlay">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <% include ../partials/nav_weather.ejs %>

  <section id="weather">
    <div class="container centered ts bs">
      <h3 class="weather-location"></h3>
      <div class="row centered">
        <div class="weather-animation" class="col-md-12">
          <div class="centered animation">
            <div class="sky"></div>
            <div class="clouds">
            </div>
            <div class="light"></div>
            <div class="squiggle-container">
              <span class="squiggles s-top">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </span>
              <span class="squiggles s-right">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </span>
              <span class="squiggles  s-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </span>
              <span class="squiggles s-left">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </span>
              <span class="squiggles s-top-right">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </span>
              <span class="squiggles s-top-left">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </span>
              <span class="squiggles s-bottom-right">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </span>
              <span class="squiggles s-bottom-left">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </span>
            </div>
            <div class="stars"></div>
            <div class="precipitation"></div>
            <div class="storm"></div>
            <div class="grass"></div>
            <div class="ground"></div>
          </div>
          </div>
        </div>
        <span class="weather-current"></span>
      </div>
      <div class="row">
        <div style="display: none;" class="user-search-weather form-horizontal centered">
          <div class="row centered">
              <h3>Find your location's weather!</h3>
          </div>
          <div class="form-group">
            <label for="city" class="col-sm-4 control-label">City</label>
            <div class="col-sm-4">
              <input id="City" class="form-control" name="city" type="text" class="input-city" />
            </div>
          </div>
          <div class="form-group">
            <label for="state" class="col-sm-4 control-label">State</label>
            <div class="col-sm-4">
              <input id="State" class="form-control" name="state" type="text" class="input-state" />
            </div>
          </div>
          <div class="form-group">
            <label for="zip" class="col-sm-4 control-label">Zip</label>
            <div class="col-sm-4">
              <input id="Zip" class="form-control" name="zip" type="text" class="input-zip" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <button id="lookup_coordinates" class="btn btn-success">Go!</button>
            </div>
          </div>
        </div>
        <div class="row centered">
          <button style="display: none;" id="input_go" class="btn btn-success">Check the weather!</button>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/footer.ejs %>
  <% include ../partials/global_scripts.ejs %>
  <script src="scripts/weather.js">
  </script>
  <script>
    Jmac.geolocate.init();
  </script>
</body>
</html>
