<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="home-page" data-spy="scroll" data-target="#navbar">

  <% include ../partials/nav.ejs %>

  <section id="weather">
    <div class="container centered">
      <h3>Hello!</h3>
    </div>
  </section>


  <% include ../partials/modal.ejs %>
  <% include ../partials/footer.ejs %>
</body>
</html>
