footer.footer
  .container.centered
    ul
      li
        a.email(href='mailto:jordanmcardle@gmail.com', target='-blank')
          span.fa-stack.fa-lg.faa-parent.animated-hover
            i.fa.fa-square-o.fa-stack-2x
            i.move-me.fa.fa-envelope.fa-stack-1x.faa-ring
      li
        a.github(href='https://github.com/jmahc', target='-blank')
          span.fa-stack.fa-lg.faa-parent.animated-hover
            i.fa.fa-square-o.fa-stack-2x
            i.move-me.fa.fa-github.fa-stack-1x.faa-burst
      li
        a.linkedin(href='https://www.linkedin.com/in/jtmcardle', target='-blank')
          span.fa-stack.fa-lg.faa-parent.animated-hover
            i.fa.fa-square-o.fa-stack-2x
            i.move-me.fa.fa-linkedin.fa-stack-1x.faa-flash
      li
        a.facebook(href='https://www.facebook.com/jmaccc', target='-blank')
          span.fa-stack.fa-lg.faa-parent.animated-hover
            i.fa.fa-square-o.fa-stack-2x
            i.move-me.fa.fa-facebook.fa-stack-1x.faa-tada
      li
        a.twitter(href='http://twitter.com/fjord-an', target='-blank')
          span.fa-stack.fa-lg.faa-parent.animated-hover
            i.fa.fa-square-o.fa-stack-2x
            i.move-me.fa.fa-twitter.fa-stack-1x.faa-passing
      li
        a.google(href='https://plus.google.com/u/0/104716789379686556900/about/p/pub', target='-blank')
          span.fa-stack.fa-lg.faa-parent.animated-hover
            i.fa.fa-square-o.fa-stack-2x
            i.move-me.fa.fa-google-plus.fa-stack-1x.faa-float
      li
        a.steam(href='http://steamcommunity.com/id/jmahc/', target='-blank')
          span.fa-stack.fa-lg.faa-parent.animated-hover
            i.fa.fa-square-o.fa-stack-2x
            i.move-me.fa.fa-steam.fa-stack-1x.faa-wrench
