doctype
html
  include header
  body.home-page(data-spy='scroll', data-target='#navbar')
    include loading
    block nav
    block content
    include footer
    include modal
    include global_scripts
    block page_scripts
