#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#myModalLabel.modal-title Hello
      .modal-body
        img.modal-image(src='')
      .modal-footer
        span.fake-nav.cl-effect-1
          a.modal-link(href='') http://
