nav.navbar.navbar-inverse.navbar-fixed-top(data-spy='affix', data-offset-top='0')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-menu='offcanvas', data-toggle='offcanvas', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand Jordan McArdle
    #navbar.hidden-nav.sidebar-offcanvas
      ul.nav.navbar-nav
        li
          a(href='#home')
            | Home
        li
          a(href='#about')
            | About
        li
          a(href='#projects')
            | Projects
        li
          a(href='/Weather')
            | Weather App
        li.active
          a(href='/Notation')
            | Notation App
